/* color palette from <https://github.com/vuejs/theme> */
:root {
  background-color: var(--background-secondary-lighter);
  --selection: rgba(214, 221, 247, 0.192) !important;
  --background-primary: #0e121a !important;
  --background-primary-trans: rgba(14, 18, 26, 0.5) !important;
  --background-secondary: #090b10 !important;
  --background-secondary-number: 9, 11, 16 !important;
  --background-secondary-lighter: #0f111a !important;
  --background-secondary-lighter-number: 15, 17, 26 !important;
  --theme-primary: #5ac5ba !important;
  --theme-primary-hover: #78e3d8 !important;
  --theme-middle: #5a65c5;
  --theme-secondary: #f65164 !important;
  --theme-secondary-hover: #fa3e54 !important;
  --font-color-secondary: #6f7790 !important;
  --line: #1d1e1f !important;
  --line-active: #1d1e1f !important;
  --btn-window-hover: #222428 !important;
  --window-dragbar: #0e121a !important;
  --btn-window-close-hover: #d51324 !important;
  --boxshadow-primary: 2px 4px 3px #0a090c !important;
  --boxshadow-secondary: 2px 2px 2px #0a090c !important;
  --shadow-color: #0a090c !important;
  --scrollbar-back: #1e2124 !important;
  --scrollbar-front-number: 45, 48, 51;
  --scrollbar-front: #2d3033 !important;
  --frame-skeleton: #11141b !important;
  --switch-border: #474c5c !important;
  --theme-type-color-number: 0, 0, 0;

  --font-color-primary: #f0f0f0 !important;
  --font-color-themematch: #f0f0f0 !important;
  --loader-skeleton: hsla(0, 0%, 90.2%, 0.5) !important;
  --switch-back: #1e1f22 !important;
  --switch-thumb: #fff !important;
  --rating-color: #ffe600 !important;
  --tweeter-border-color: #15202b;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--background-primary);
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
