@import './base.css';
@import './normalizer.css';

.section {
  width: 100%;
  overflow-x: clip;
  padding: 1rem 0 1.25rem;
}
.container {
  margin-left: auto;
  margin-right: auto;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  padding-bottom: 0.5rem;
  max-width: 72rem;
}
